server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  application:
    name: IPAS
  data:
    mongodb:
      uri: mongodb://localhost:27017/ipas_db
